<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://35.245.235.126:3306/hw</property>
        <property name="hibernate.connection.username">adminUser</property>
        <property name="hibernate.connection.password">pa55w0rd</property>
        <property name="hibernate.dialect">org.hibernate.dialect.H2Dialect</property>
                <!--property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property-->
        
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>
         <mapping resource = "jpa/model/Survey.hbm.xml"/>
    </session-factory>
</hibernate-configuration>